@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --background: #ffffff;
  --foreground: #0c0c0c;

  --hero-bg-gradient: linear-gradient(
    63deg,
    rgba(0, 0, 0, 0.07) 15%,
    rgba(0, 0, 0, 0) 70%
  );

  --profile-gradient: linear-gradient(
    -63deg,
    rgba(0, 0, 0, 0.07) 15%,
    rgba(0, 0, 0, 0) 70%
  );

  --card-gradient: linear-gradient(
    65deg,
    rgba(0, 0, 0, 0) 2%,
    rgba(151, 151, 151, 0.12) 20%
  );

  --card-radial-gradient: radial-gradient(
    circle at top left,
    rgba(0, 0, 0, 0.08) 0%,
    rgba(0, 0, 0, 0) 70%
  );

  --border-fade-strong: hsla(0, 0%, 0%, 0.2);
  --border-fade-weak: hsla(0, 0%, 0%, 0);
  --border-primary: hsla(0, 0%, 0%, 0.122);
}

.dark {
  --background: #0c0c0c;
  --foreground: #ffffff;

  --hero-bg-gradient: linear-gradient(
    63deg,
    rgba(255, 255, 255, 0.07) 15%,
    rgba(255, 255, 255, 0) 70%
  );

  --profile-gradient: linear-gradient(
    -63deg,
    rgba(255, 255, 255, 0.07) 15%,
    rgba(255, 255, 255, 0) 70%
  );

  --card-gradient: linear-gradient(
    -65deg,
    rgba(255, 255, 255, 0) 2%,
    rgba(255, 255, 255, 0.08) 100%
  );

  --card-radial-gradient: radial-gradient(
    circle at top left,
    rgba(255, 255, 255, 0.08) 0%,
    rgba(255, 255, 255, 0) 70%
  );

  --border-fade-strong: hsla(0, 0%, 100%, 0.2);
  --border-fade-weak: hsla(0, 0%, 100%, 0);
  --border-primary: hsla(0, 0%, 100%, 0.122);
}
/* 
[data-theme="dark"] {
  --background: #0c0c0c;
  --foreground: #ffffff;

  --hero-bg-gradient: linear-gradient(
    63deg,
    rgba(255, 255, 255, 0.07) 15%,
    rgba(255, 255, 255, 0) 70%
  );

  --profile-gradient: linear-gradient(
    -63deg,
    rgba(255, 255, 255, 0.07) 15%,
    rgba(255, 255, 255, 0) 70%
  );

  --card-gradient: linear-gradient(
    -65deg,
    rgba(255, 255, 255, 0) 2%,
    rgba(255, 255, 255, 0.08) 100%
  );

  --card-radial-gradient: radial-gradient(
    circle at top left,
    rgba(255, 255, 255, 0.08) 0%,
    rgba(255, 255, 255, 0) 70%
  );

  --border-fade-strong: hsla(0, 0%, 100%, 0.2);
  --border-fade-weak: hsla(0, 0%, 100%, 0);
  --border-primary: hsla(0, 0%, 100%, 0.122);
} */

html {
  scroll-behavior: smooth;
}

body {
  color: var(--foreground);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-family: var(--font-poppins), var(--font-plus-jakarta-sans);
}

.bodyGradient {
  background: linear-gradient(
    178.6deg,
    rgb(240, 208, 255) 11.8%,
    rgb(212, 208, 230) 83.8%
  );
}

.whiteLowOpc {
  color: #ffffff1f;
}

.gradientBorderTop {
  border: 1px solid;
  border-bottom: 0;
  border-right: 0;
  border-left: 0;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: radial-gradient(
    circle at center,
    var(--border-fade-strong) 0,
    var(--border-fade-weak) 100%
  );
}

.gradientBorderCenter {
  border: 1px solid;
  border-bottom: 0;
  border-right: 0;
  border-top: 0;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: linear-gradient(
    var(--border-fade-weak),
    var(--border-fade-strong),
    var(--border-fade-weak)
  );
}
/* EXPERIENCE DATE DOT AND LINE */
.xp-date::before {
  content: "";
  position: absolute;
  bottom: -30px;
  left: calc(50% - 5px);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  background: #78cc6d;
  z-index: 2;
}

.xp-date::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: -50%;
  width: 200%;
  border-bottom: 1px solid #3d3d3d;
}

/* SWIPER CUSTOMIZATION */
.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
  background: #78cc6d !important;
}

.smallTextUpperCase {
  @apply text-sm font-light text-foreground font-poppins;
}
.smallText {
  @apply text-sm font-normal text-foreground font-poppins;
}
.sectionHeaderText {
  @apply text-5xl font-plusJakarta text-primary;
}
