@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0c0c0c;
  --hero-bg-gradient: linear-gradient(
    63deg,
    rgba(255, 255, 255, 7%) 15%,
    rgba(255, 255, 255, 0%) 70%
  );

  --profile-gradient: linear-gradient(
    -63deg,
    rgba(255, 255, 255, 7%) 15%,
    rgba(255, 255, 255, 0%) 70%
  );
  --card-gradient: linear-gradient(
    65deg,
    rgba(255, 255, 255, 0%) 2%,
    rgb(0, 0, 0, 100%) 20%
  );
  --card-radial-gradient: radial-gradient(
    65deg,
    rgba(255, 255, 255, 0%) 2%,
    rgb(0, 0, 0, 100%) 20%
  );
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0c0c0c;
    --foreground: #ffffff;
    --hero-bg-gradient: linear-gradient(
      63deg,
      rgba(255, 255, 255, 7%) 15%,
      rgba(255, 255, 255, 0%) 70%
    );
    --profile-gradient: linear-gradient(
      -63deg,
      rgba(255, 255, 255, 7%) 15%,
      rgba(255, 255, 255, 0%) 70%
    );
    --card-gradient: linear-gradient(
      -65deg,
      rgba(255, 255, 255, 0%) 2%,
      rgba(255, 255, 255, 8%) 100%
    );
    --card-radial-gradient: radial-gradient(
      65deg,
      rgba(255, 255, 255, 0%) 2%,
      rgb(0, 0, 0, 100%) 20%
    );
  }
}

body {
  color: var(--foreground);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  font-family: var(--font-poppins), var(--font-plus-jakarta-sans);
}

.bodyGradient {
  background: radial-gradient(
    328px at 2.9% 15%,
    rgb(191, 224, 251) 0%,
    rgb(232, 233, 251) 25.8%,
    rgb(252, 239, 250) 50.8%,
    rgb(234, 251, 251) 77.6%,
    rgb(240, 251, 244) 100.7%
  );
}

.whiteLowOpc {
  color: #ffffff1f;
}

.gradientBorderTop {
  border: 1px solid;
  border-bottom: 0;
  border-right: 0;
  border-left: 0;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: radial-gradient(
    circle at center,
    hsla(0, 0%, 100%, 0.2) 0,
    hsla(0, 0%, 100%, 0) 100%
  );
}

.gradientBorderCenter {
  border: 1px solid;
  border-bottom: 0;
  border-right: 1;
  border-top: 0;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: linear-gradient(
    hsla(0, 0%, 100%, 0),
    hsla(0, 0%, 100%, 0.2),
    hsla(0, 0%, 100%, 0)
  );
}

/* EXPERIENCE DATE DOT AND LINE */
.xp-date::before {
  content: "";
  position: absolute;
  bottom: -30px;
  left: calc(50% - 5px);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  background: #78cc6d;
  z-index: 2;
}

.xp-date::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: -50%;
  width: 200%;
  border-bottom: 1px solid #3d3d3d;
}

/* SWIPER CUSTOMIZATION */
.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
  background: #78cc6d !important;
}

.smallTextUpperCase {
  @apply text-sm font-light text-primary font-poppins;
}
.smallText {
  @apply text-sm font-normal text-primary font-poppins;
}
.sectionHeaderText {
  @apply text-5xl font-plusJakarta text-primary;
}
